body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 8vh;
    background-color: rgb(182, 174, 174);
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addBook {
    position: absolute;
    z-index: 2;
    top: 12vw;
    left: 8.5vw;
    background-color: rgb(108, 104, 104);
    color: white;
    border: 2px solid rgb(108, 104, 104);
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    height: 8vh;
    width: 11vw;
}

#addBook:hover {
    background-color: rgb(182, 174, 174);
    color: rgb(68, 65, 65);
}

#titleRow {
    background-color: rgb(182, 174, 174);
    font-weight: bold;
}

#priceContainer {
    width: 8vw;
    display: flex;
    text-align: left;
    gap: 6px;
}

#titleContainer {
    width: 20vw;
    display: flex;
    justify-content: left;
    gap: 6px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

#tableContainer {
    margin-top: 3vh;
    /* margin-left: 3vw; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#openBook {
    display: none;
    margin-top: 3vh;
    /* margin-right: 3vw; */
    flex-direction: row;
    width: 43%;
    height: 50vh;
    margin-left: 30px;
    background-color: rgb(182, 174, 174);
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 17px;
}

#openBook h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#openBook img {
    width: 300px;
    /* Adjust image size as needed */
    margin-bottom: 15px;
}

#openBook button {
    display: block;
    margin-top: 20px;
    padding: 8px 12px;
    background-color: rgb(108, 104, 104);
    color: white;
    border: 2px solid rgb(108, 104, 104);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#openBook button:hover {
    background-color: rgb(182, 174, 174);
}

.pagination-container {
    position: relative;

}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#bookModal {
    position: fixed;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(182, 174, 174);
    z-index: 6;
    padding: 20px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}
#bookForm{
    display: flex;
    flex-direction: column;
    
}


.modal-content {
    display: flex;
    flex-direction: column;
    margin: 1% 2%;
    padding: 20px;
    width: 80%;
    height: 80%;
}

.close {
    color:black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    /* border:1px solid black; */
    text-decoration: none;
    cursor: pointer;
}
.clicked {
    background-color: red; /* Color change for visual feedback */
    transform: scale(0.95); /* Slightly shrink the button */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}
