body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#titleRow{
    background-color: rgb(182, 174, 174);
    font-weight: bold;
}

#priceContainer{
    width: 8vw;
    display: flex;
    justify-content: space-evenly;
}
#titleContainer{
    width: 20vw;
    display: flex;
    justify-content: left;
    gap: 6px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
